<div>
    <div class="bg-gray-800 pb-32">
        <header class="py-10">
            <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold text-white text-center">
                    Docker Fragen
                </h1>
            </div>
        </header>
    </div>

    <main class="-mt-32">
        <div class="max-w-5xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
            <div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
                <form action="/submit" method="post">
                    <div class="bg-white">
                        <div class="max-w-7xl mx-auto px-8 py-6">
                            <p class="inline text-3xl font-extrabold tracking-tight text-gray-900 sm:block sm:text-4xl">
                                Dein Name.
                            </p>
                            <div class="mt-5 sm:flex">
                                <input name="name" type="text" class="w-full border border-transparent rounded focus:outline-none ring-2 ring-offset-2 ring-pink-300 focus:ring-pink-500 p-2 text-lg" required minlength="3">
                            </div>
                        </div>
                    </div>

                    <div class="bg-white">
                        <div class="max-w-7xl mx-auto px-8 py-6">
                            <p class="inline text-3xl font-extrabold tracking-tight text-gray-900 sm:block sm:text-4xl">
                                {{ question1 }}
                            </p>
                            <div class="mt-5 sm:flex">
                                <textarea name="answer1" class="w-full border border-transparent rounded focus:outline-none ring-2 ring-offset-2 ring-pink-300 focus:ring-pink-500 p-2 text-lg" rows="5" required minlength="10"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white">
                        <div class="max-w-7xl mx-auto px-8 py-6">
                            <p class="inline text-3xl font-extrabold tracking-tight text-gray-900 sm:block sm:text-4xl">
                                {{ question2 }}
                            </p>
                            <div class="mt-5 sm:flex">
                                <textarea name="answer2" class="w-full border border-transparent rounded focus:outline-none ring-2 ring-offset-2 ring-pink-300 focus:ring-pink-500 p-2 text-lg" rows="5" required minlength="10"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white">
                        <div class="max-w-7xl mx-auto px-8 py-6">
                            <p class="inline text-3xl font-extrabold tracking-tight text-gray-900 sm:block sm:text-4xl">
                                {{ question3 }}
                            </p>
                            <div class="mt-5 sm:flex">
                                <textarea name="answer3" class="w-full border border-transparent rounded focus:outline-none ring-2 ring-offset-2 ring-pink-300 focus:ring-pink-500 p-2 text-lg" rows="5" required minlength="10"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="w-full flex items-center justify-center">
                        <button type="submit" class=" px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                            Antworten senden
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>